@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Okoul challenge</h1>
    <p>Learn about <a href="https://www.okoul.com/challenges/Quotes">Okoul challenge</a>.</p>
</div>
