@model Okoul.Models.ViewModels.SearchQuotesVM;

<h1 class="mb-4">Quotes</h1>

<div class="d-flex mb-5">
    <a asp-action="Create" class="btn btn-dark me-3">Create New</a>
    <a asp-controller="ApiQuotes" asp-action="GetRandomQuote" class="btn btn-outline-dark">GetRandomQuote</a>
</div>

<form id="form" asp-action="QuotesList"  method="POST" >
    <div class="row g-2">
        <div class="offset-1 col-10 offset-md-0 col-sm-4 col-md-3">
            <label for="Status" class="form-label">Authors</label>
            <select class="form-select w-100 select2" asp-items="@ViewBag.Authors" asp-for="Authors" multiple></select>
        </div>
        <div class="offset-1 col-10 offset-md-0 col-sm-4 col-md-3">
            <label class="form-label">Start date</label>
            <input type="text" class="form-control flatpickr-basic  bg-white" placeholder="YYYY-MM-DD" name="StartDate" id="StartDate" />
        </div>
        <div class="offset-1 col-10 offset-md-0 col-sm-4 col-md-3 mt-md-2">
            <label class="form-label">End date</label>
            <input type="text" class="form-control flatpickr-basic  bg-white" placeholder="YYYY-MM-DD" name="EndDate" id="EndDate" />
        </div>

        <div class="offset-1 offset-md-3 col-10 mb-5 mt-3 col-md-5 justify-content-center">
            <button class="btn btn-success  w-100" onclick="Search()">Search</button>
        </div>

    </div>
</form>

<div style="max-width:calc(100vm-2rem);overflow-x:scroll">

<table id="quotesTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Total</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Total</th>
                <th>Created On</th>
            </tr>
        </tfoot>
    </table>
    </div>


@section Scripts{
    <script>

        window.addEventListener('load', (event) => {
            Search();
        });

        $('#form').on('submit', function (e) {
                    e.preventDefault();  
         })

        function Search(){
            $('#quotesTable').DataTable( {

            ajax: {
                url: '/quotes/quoteslist',
                type: 'POST',
                data: {
                    Id : $("Id").val(),
                    Authors: $("#Authors").val(),
                    Text: $("#Text").val(),
                    StartDate: $("#StartDate").val(),
                    EndDate: $("#EndDate").val(),
                }
            },
            "bDestroy": true,
            processing: true,
            serverSide: true,
            sort: false,
            filter: false,

            columns: [
                    { data: 'id' },
                    { data: 'text' },
                    { data: 'author' },
                    { data: 'createdat' }
                ]
            });
        }

        $('.select2').select2();
        flatpickr('#StartDate', {});
        flatpickr('#EndDate', {});

    </script>
}